<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/photo-1423666523292-b458da343f6a.jpg">
    </div>
    <div class="carousel-caption bg-dark">
      <h3>Vision Consulting et Management</h3>
      <p>Expertise et Gestion</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/photo-1553729459-efe14ef6055d.jpg">
    </div>
    <div class="carousel-caption bg-dark">
      <h3>Vision Consulting et Management</h3>
      <p>Audit</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/photo-1517245386807-bb43f82c33c4.jpg">
    </div>
    <div class="carousel-caption bg-dark">
      <h3>Vision Consulting et Management</h3>
      <p>Conseil juridique et fiscal</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/formation2.jpg">
    </div>
    <div class="carousel-caption bg-dark">
      <h3>Vision Consulting et Management</h3>
      <p>Formation</p>
    </div>
  </ng-template>
</ngb-carousel>
