<mat-nav-list>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/">Clients</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/rdvs">Rendez-vous</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/contacts">Contacts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/postulations">Postulations</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/postCreate">Creation de post</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/postList">list des Post</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/newsletter">newsletter</a>



</mat-nav-list>
