<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>M'barek Ramadan</h2>
      <h4>example@email.com</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/">Clients</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/rdvs">Rendez-vous</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/contacts">Contacts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/postulants">Postulants</a>


</mat-nav-list>
