<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Vision Consulting & Management</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          {{adminPrenom | titlecase}} {{adminNom | titlecase}}
        </li>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>settings</mat-icon> Paramètres
        </button>
        <mat-menu #menu="matMenu">
          <button mat-button routerLink="/admin/dashboard/changerMdp">
            <mat-icon>vpn_key</mat-icon> Changer de mot de passe
          </button>
          <button mat-button routerLink="/admin/dashboard/ajouterAdmin">
            <mat-icon>group_add</mat-icon> Ajouter un administrateur
          </button>
        </mat-menu>
        <li>

        </li>
        <li>
          <button mat-button routerLink="/logout">
            <mat-icon>subdirectory_arrow_right</mat-icon> Se déconnecter
          </button>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
