<body>
<app-navbar></app-navbar>
<h3 class="title fadeInDown first">Qui sommes-nous ?</h3>
<div class="container">
  <div class="row">
    <div class="col-md-3 my-5 fadeInLeft second">
      <h1 style="text-transform: uppercase">Expert fondateur</h1>
      <p style="text-align: center"><img src="../../../../assets/img/Expert-fondateur.png" alt="Image" class="img-fluid"></p>
    </div>
    <div class="col-md-6 my-5 fadeInDown third">
      <p>M’barek RAMADAN, fondateur du cabinet, est Comptable agréé par l’état marocain, membre de l’Organisation marocaine
        des comptables agréés au Maroc et Expert assermenté en comptabilité près des tribunaux marocains.
        Il a à son actif 35 ans d'exercices, dont plus de 30 ans comme responsable au sein de plusieurs entreprises marocaines
        dans les métiers des Finances, l’Audit et le Contrôle de gestion, et 5 ans en tant que Gérant du Cabinet Vision Consulting
        et Management.
      </p>
    </div>
    <div class="col-md-3 my-5 fadeInRight fourth">
      <h1 style="text-transform: uppercase">Nos valeurs</h1>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li><i style="color: rgb(16, 153, 72);" class="fa fa-check-square"></i> Qualité</li>
            <li><i style="color: rgb(16, 153, 72);" class="fa fa-check-square"></i> Performance</li>
            <li><i style="color: rgb(16, 153, 72);" class="fa fa-check-square"></i> Proximité</li>
            <li><i style="color: rgb(16, 153, 72);" class="fa fa-check-square"></i> Réactivité</li>
            <li><i style="color: rgb(16, 153, 72);" class="fa fa-check-square"></i> Responsabilité</li>
            <li><i style="color: rgb(16, 153, 72);" class="fa fa-check-square"></i> Ethique</li>
            <li><i style="color: rgb(16, 153, 72);" class="fa fa-check-square"></i> Transparence</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/main.js"></script>
<app-footer></app-footer>
