.img-wrapper img {
  width: 100%;
}

h2 {
  color: rgb(16, 153, 72);
  padding: 15px;
}

p {
  padding: 15px;
}

.lire-plus {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin: 15px;
}

.lire-plus:hover {
  background-color: rgb(25, 99, 175);
}

