<p>posts works!</p>
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../../../{{timeline[timeline.length-1].image}}');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>{{timeline[timeline.length-1].titre}}</h2>
        <p [innerHTML]="timeline[timeline.length-1].content" class="lead mb-0">{{timeline[timeline.length-1].content}}</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../../../{{timeline[timeline.length-2].image}}');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>{{timeline[timeline.length-2].titre}}</h2>
        <p [innerHTML]="timeline[timeline.length-2].content" sclass="lead mb-0">{{timeline[timeline.length-2].content}}</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../../../{{timeline[timeline.length-3].image}}');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>{{timeline[timeline.length-3].titre}}</h2>
        <p [innerHTML]="timeline[timeline.length-2].content" sclass="lead mb-0">{{timeline[timeline.length-3].content}}</p>
      </div>
    </div>
  </div>
</section>
