<body>
<app-navbar></app-navbar>
<h3 id="metier" class="title fadeInDown first">Nos métiers</h3>
<!--
<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4 my-5">
      <p style="text-align: center"><img src="../../../../assets/img/a.jpg" alt="Image" class="img-fluid"></p>
      <h3 style="text-align: center" class="heading mb-4">Expertise et Gestion</h3>
      <p>L’audit légal et l’audit contractuel constituent nos métiers de base. Nous intervenons pour certifier les comptes des entreprises</p>
      <a class="lire-plus">Lire Plus</a>
    </div>
    <div class="col-md-4 my-5">
      <p style="text-align: center"><img src="../../../../assets/img/b.jpg" alt="Image" class="img-fluid"></p>
      <h3 style="text-align: center" class="heading mb-4">Audit</h3>
      <p>En relation constante avec les organes décisionnels de votre entreprise, notre cabinet vous assure une prestation ...</p>
      <a class="lire-plus">Lire Plus</a>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-4 my-5">
      <p style="text-align: center"><img src="../../../../assets/img/c.png" alt="Image" class="img-fluid"></p>
      <h3 style="text-align: center" class="heading mb-4">Conseil juridique et fiscal</h3>
      <p>Etre accompagné par un expert vous permet de mettre toutes les chances de votre côté pour concrétiser votre projet.</p>
      <a class="lire-plus">Lire Plus</a>
    </div>
    <div class="col-md-4 my-5">
      <p style="text-align: center"><img src="../../../../assets/img/formation.png" alt="Image" class="img-fluid"></p>
      <h3 style="text-align: center" class="heading mb-4">Formation</h3>
      <p>Ces formations sont conçues sur mesure à la demande des entreprises. Nos experts ont acquis une grande notoriété ...</p>
      <a class="lire-plus">Lire Plus</a>
    </div>
  </div>
</div>
-->
<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4 my-5 fadeInDown second">
      <div class="row">
        <div class="col-3">
          <i class="fa fa-building" style="font-size:40px; color: rgb(16, 153, 72);"></i>
        </div>
        <div class="col-9">
          <h1>Expertise et Gestion</h1>
          <p>- Assistance / supervision comptable<br>
             - Tenue des comptes & Travaux de paie<br>
             - Travaux de compilation<br>
             - Reporting financier<br>
             - Consolidation des comptes<br>
             - Analyse et apurement des comptes
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 my-5 fadeInDown third">
      <div class="row">
        <div class="col-3">
          <i class="fa fa-search" style="font-size:40px; color: rgb(16, 153, 72);"></i>
        </div>
        <div class="col-9">
          <h1>Audit</h1>
          <p>- Audit contractuel<br>
             - Commissariat aux comptes<br>
             - Commissariat aux apports<br>
             - Audit d'acquisition<br>
             - Audit de projets<br>
             - Audit organisationnel...
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-4 my-5 fadeInDown fourth">
      <div class="row">
        <div class="col-3">
          <i class="fa fa-legal" style="font-size:40px; color: rgb(16, 153, 72);"></i>
        </div>
        <div class="col-9">
          <h1>Conseil juridique et fiscal</h1>
          <p>- Secrétariat juridique<br>
             - Consultations juridiques<br>
             - Constition de sociétés, succursales...<br>
             - Augmentation & Réduction de capital<br>
             - Fusions, Apports, Transformations...<br>
             - Transferts de sièges, cessions de titres de capital...
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 my-5 fadeInDown fifth">
      <div class="row">
        <div class="col-3">
          <i class="fa fa-language" style="font-size:40px; color: rgb(16, 153, 72);"></i>
        </div>
        <div class="col-9">
          <h1>Formation</h1>
          <p>- Audit contractuel<br>
             - Formation intra-entreprise<br>
             - Formation inter-entreprises<br>
             - Finance - Audit - Contrôle de gestion<br>
             - Fiscalité - Comptabilité...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/main.js"></script>
<app-footer></app-footer>
