<body>
<app-navbar></app-navbar>
<h3 class="title">Nos métiers</h3>
<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4 my-5">
      <p style="text-align: center"><img src="../../../../assets/img/a.jpg" alt="Image" class="img-fluid"></p>
      <h3 style="text-align: center" class="heading mb-4">Audit et Commissariat aux Comptes</h3>
      <p>L’audit légal et l’audit contractuel constituent nos métiers de base. Nous intervenons pour certifier les comptes des entreprises</p>
      <a class="lire-plus">Lire Plus</a>
    </div>
    <div class="col-md-4 my-5">
      <p style="text-align: center"><img src="../../../../assets/img/b.jpg" alt="Image" class="img-fluid"></p>
      <h3 style="text-align: center" class="heading mb-4">Expertise comptable</h3>
      <p>En relation constante avec les organes décisionnels de votre entreprise, notre cabinet vous assure une prestation ...</p>
      <a class="lire-plus">Lire Plus</a>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-4 my-5">
      <p style="text-align: center"><img src="../../../../assets/img/c.png" alt="Image" class="img-fluid"></p>
      <h3 style="text-align: center" class="heading mb-4">Conseil</h3>
      <p>Etre accompagné par un expert vous permet de mettre toutes les chances de votre côté pour concrétiser votre projet.</p>
      <a class="lire-plus">Lire Plus</a>
    </div>
    <div class="col-md-4 my-5">
      <p style="text-align: center"><img src="../../../../assets/img/d.png" alt="Image" class="img-fluid"></p>
      <h3 style="text-align: center" class="heading mb-4">Formations</h3>
      <p>Ces formations sont conçues sur mesure à la demande des entreprises. Nos experts ont acquis une grande notoriété ...</p>
      <a class="lire-plus">Lire Plus</a>
    </div>
  </div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/main.js"></script>
<app-footer></app-footer>
