<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Abonnez-vous à notre newsletter dès maintenant</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <div>
          <div class="row form-group">
            <div class="col-12 col-md-9 mb-2 mb-md-0 form-group">
              <input class="form-control form-control-lg" type="email" placeholder="Votre email"  [(ngModel)]="sub.email"  >
            </div>
            <div class="col-12 col-md-3 form-group ">
              <button class="btn btn-block btn-lg btn-primary " type="submit" (click)="abonner()" >S'abonner</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
