


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Créer un post</mat-card-title>

    </mat-card-header>

    <mat-card-content>


        <mat-divider></mat-divider>
    </mat-card-content>
    <div class="row">
      <div class="col-md-12 form-group">
        <input type="text" class="form-control" name="titre" id="titre" placeholder="Titre de l'article" [(ngModel)]="post.titre">
      </div>
      <div class="col-md-12 form-group">
        <input type="file" class="form-control" name="cv-file" id="cv-file" (change)="onCileChange($event)">
        <label for="cv-file">image optionelle</label>
      </div>
    </div>
      <p-editor [(ngModel)]="post.content" [style]="{'height':'320px'}"></p-editor>
    <mat-card-actions>
     <div class="d-flex justify-content-center">      <button mat-raised-button (click)="save()" > save</button>
    </div>
    </mat-card-actions>
  </mat-card>
