<nav class="navbar">
  <input class="form-control" type="text" name="recherche" [(ngModel)]="recherche" (ngModelChange)="search()" placeholder="Rechercher ...">
</nav>
<div class="card">

  <!-- <div class="d-flex justify-content-end  ">

    <mat-form-field appearance="legacy" class ="search">
      <mat-label>Recherche</mat-label>
      <input matInput placeholder="Entrez un titre , contenu  ou bien le code d'un post" (keydown.enter)='search(keyword)' [(ngModel)]="keyword" >
   <button matSuffix mat-button (click)="search(keyword)" >    <mat-icon  >search</mat-icon> </button>

    </mat-form-field>

  </div>-->
  <div class="card-header">

    <p>Liste des articles</p>

  </div>
  <div class="card-body">
    <table class="table table-striped table-bordered" *ngFor="let c of timeline | paginate: {itemsPerPage:5, currentPage:p}; index as i;">
      <thead>
      <td><label for="">Code de l'article :<br>{{c.code}}</label> </td>
      <td><span (click)="delete(i,c)"><i class="fa fa-trash btn btn-danger"></i></span> delete</td>
      <td><span (click)="edit(i,c)"  (click)="openDialog()"><i class="fa fa-edit btn btn-warning"></i> edit </span>
    </td>
      </thead>
      <tbody>
      <tr>
        <td colspan="3" [innerHTML]="c.content">Contenu :<br>{{c.content}}</td>
      </tr>
      <tr>
        <td colspan="3">Date de publication :<br>{{c.date | date: 'short'}}</td>
      </tr>
      <tr>
        <td colspan="3">Titre :<br>{{c.titre}}</td>
      </tr>


      <tr *ngIf ="c.image !== null">
        <td colspan="3"><img src="{{c.image}}" alt="no Image" width="400px"></td>

      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class="card-footer"></div>
</div>

