<div class="card">

  <!-- <div class="d-flex justify-content-end  ">

    <mat-form-field appearance="legacy" class ="search">
      <mat-label>Recherche</mat-label>
      <input matInput placeholder="Entrez un titre , contenu  ou bien le code d'un post" (keydown.enter)='search(keyword)' [(ngModel)]="keyword" >
   <button matSuffix mat-button (click)="search(keyword)" >    <mat-icon  >search</mat-icon> </button>

    </mat-form-field>

  </div>-->
  <div class="card-header">
    <p>Post Timeline</p>
  </div>
  <div class="card-body">
    <table class="table table-striped table-bordered" *ngFor="let c of timeline; index as i">
      <thead>
      <td><label for="">Post code :{{c.code}}</label> </td>
      <td><span (click)="delete(i,c)"><i class="fa fa-trash btn btn-danger"></i></span> delete</td>
      <td><span (click)="edit(i,c)"  (click)="openDialog()"><i class="fa fa-edit btn btn-warning"></i> edit </span>
    </td>
      </thead>
      <tbody>
      <tr>
        <td colspan="3" [innerHTML]="c.content">{{c.content}}</td>
      </tr>
      <tr>
        <td colspan="3">{{c.date | date: 'short'}}</td>
      </tr>
      <tr>
        <td colspan="3">{{c.titre}}</td>
      </tr>

      <tr *ngIf ="c.image !== null">
        <td colspan="3"><img src="{{c.image}}" alt="no Image" width="40%%"></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
      </tr>
      </tfoot>
    </table>
  </div>
  <div class="card-footer"></div>
</div>

