<mat-card>

<mat-card-content>
  <mat-divider></mat-divider>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter target email</mat-label>
      <input matInput placeholder="pat@example.com"  required [(ngModel)]="mail.to">
      <mat-error *ngIf="mail.to">enter mail</mat-error>
    </mat-form-field>
  </div>




  <mat-divider></mat-divider>

  <mat-form-field appearance="fill">
    <mat-label>subject</mat-label>
    <input matInput [(ngModel)]="mail.subject">
  </mat-form-field>


  <mat-divider></mat-divider>

    <mat-divider></mat-divider>
</mat-card-content>
<mat-label>mail content</mat-label>

<p-editor [(ngModel)]="mail.text" [style]="{'height':'320px'}"></p-editor>
<p>Value: {{mail.text||'empty'}}</p>


<mat-card-actions>
  <!--<div class="d-flex justify-content-center">      <button mat-raised-button (click)="send(number)" > save</button>
</div>-->
</mat-card-actions>
</mat-card>
