.nav{
  button{
  // justify-content: space-between;
  // padding-right: 1rem ;
  // margin-right:  5rem;
}


// background-color :gray;
  // padding: 3cm;
  // width: 100%;
  height:  fit-content;
//   .search
// {
// justify-content: flex-end;}

  img{
       width: 60 px;
       height: 60px;


  }

}
