table {
  table-layout: fixed;
  width: 100%;
}

table td {
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

textarea {
  width: 100%;
}

.contact-client div {
  padding: 15px;
  background-color: rgb(25, 99, 175);
  color: white;
}
