<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Message</th>
      <th>cv</th>
      <th>Affirmation</th>
      <th>Envoi</th>
      <th colspan="4">Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let p of postulations,index as i">
        <td>{{p.nom}}</td>
        <td>{{p.prenom}}</td>
        <td>{{p.email}}</td>
        <td>{{p.messagefilename}} <a href="{{p.message}}" download="{{p.messagefilename}}" ><i class="fa fa-download"></i></a>  </td>
       <td>  {{p.cvfilename}} <a href="{{p.cv}}"   download="{{p.cvfilename}}" ><i class="fa fa-download"></i></a></td>

       <td>{{p.affirmation}}</td>
        <td>{{p.reponse}}</td>
       <td><span (click)="accepter(i)"><i class="fa fa-check btn btn-outline-success"></i></span></td>
       <td><span (click)="refuser(i)"><i class="fa fa-times btn btn-outline-danger"></i></span></td>
       <td><button type="button"  (click)="openDialog(i)" (click)="repondre(i)" class="btn btn-outline-primary">Envoyer</button></td>
        <td><button style="border: none; background-color: transparent;" (click)="delete(i)"><i class="fa fa-times"></i></button></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
